<form [formGroup]="addressForm" class="addresForm">
  <mat-form-field class="search">
    <mat-label>Search object location</mat-label>
    <input matInput type="text" placeholder="Write any place" #search>
    <mat-icon matSuffix style="font-size: large;">search</mat-icon>
  </mat-form-field>

  <agm-map class="map" [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="choseLocation($event)">
    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="choseLocation($event)">
    </agm-marker>
  </agm-map>
  <br>
  <mat-form-field class="list">
    <mat-label>Choose address</mat-label>
    <mat-select formControlName="address" required>
      <mat-option *ngFor="let address of addresses" [value]="address"> {{address}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card class="card" appareance="outline">
    <mat-card-title style="font-size: large;">Approved data</mat-card-title>
    <br>
    <mat-card-content>Addres: <span style="text-align: center; display: block;">{{addressToSend}}</span>
    </mat-card-content>
    <mat-card-content>Coordinates: <span style="text-align: center; display: block;">({{lat}}, {{lng}})</span>
    </mat-card-content>
  </mat-card>

  <div class="buttonCon">
    <br>
    <div class="buttons">
      <button mat-raised-button color="primary" matStepperPrevious>Previous</button>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
  </div>

</form>
