#options {
  padding: 3%;

  #addButton {
    width: 100%;
  }
}


#tableCon {
  margin: 0% 3%;
  margin-bottom: 3%;
  border: solid 1px rgba(0, 0, 0, 0.12);

  table {
    width: 100%;

    #daysCon{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}





