<div class="mainCon">
  <mat-card class="object">
    <mat-card-header>
      <div mat-card-avatar class="sportImage"></div>
      <mat-card-title>{{example.name}}</mat-card-title>
      <mat-card-subtitle>
        {{example.address}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Description">
          <p>
            {{example.description}}
          </p>
        </mat-tab>
        <mat-tab label="Images">
          <img mat-card-image src="../../../assets/sportFacilities1.jpg" alt="Photo">
        </mat-tab>
        <mat-tab label="Contact">
          Numer telefonu: {{example.phone}}
          <button mat-button>Show on map</button>
        </mat-tab>
        <mat-tab label="Additional">
          Additional
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>

  </mat-card>

  <div class="reservation">
    <table mat-table [dataSource]="rows" style="width: 100%;">
      <ng-container [matColumnDef]="column" *ngFor="let column of dayColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list *ngIf="element[column] !== ''">
            <mat-chip color="primary" [disabled]="element[column].status">
              {{element[column].startTime | date:'HH:mm'}} - {{element[column].endTime | date:'HH:mm'}}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="dayColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: dayColumns;"></tr>
    </table>


  </div>
</div>
