<div class="mainCon">
  <h3 id="faciltyName">{{facility.name}}</h3>
  <mat-tab-group style="height: 88%;">

    <mat-tab label="Book">
      <ng-template matTabContent>
        <app-booking [facilityId]="facilityId" class="reservation"></app-booking>
      </ng-template>
    </mat-tab>

    <mat-tab label="Description">
      <ng-template matTabContent>
        <p>
          {{facility.description}}
        </p>
      </ng-template>
    </mat-tab>

    <mat-tab label="Images">
      <ng-template matTabContent>
        <img *ngFor="let image of facility.imagesUrl" [src]="image" alt="Photo">
      </ng-template>
    </mat-tab>

    <mat-tab label="Contact">
      <ng-template matTabContent>
        Phone Number: {{facility.phone}}
        <a mat-button [href]="'http://www.google.com/maps/place/' + facility.lat + ',' + facility.lon"
          target="_blank">Show on map</a>
      </ng-template>
    </mat-tab>

    <mat-tab label="Additional">
      <ng-template matTabContent>
        Additional
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
