<div class="mainCon">
  <h3>{{facility.name}}</h3>
  <mat-tab-group style="height: 88%;">

    <mat-tab label="Book">
      <ng-template matTabContent>
        <app-booking class="mat-elevation-z8" [facilityId]="facilityId" class="reservation"></app-booking>
      </ng-template>
    </mat-tab>

    <mat-tab label="Description">
      <ng-template matTabContent>
        <p>
          {{facility.description}}
        </p>
      </ng-template>
    </mat-tab>

    <mat-tab label="Images">
      <ng-template matTabContent>
        <img mat-card-image src="../../../assets/sportFacilities1.jpg" alt="Photo">
      </ng-template>
    </mat-tab>

    <mat-tab label="Contact">
      <ng-template matTabContent>
        Numer telefonu: {{facility.phone}}
        <button mat-button>Show on map</button>
      </ng-template>
    </mat-tab>

    <mat-tab label="Additional">
      <ng-template matTabContent>
        Additional
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
