<div>
  <form [formGroup]="searchForm" class="filter" (ngSubmit)="search()">
    <mat-form-field appearance="outline">
      <mat-label>Sport discipline</mat-label>
      <input matInput formControlName="sportName" [matAutocomplete]="sportAuto">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" [matAutocomplete]="cityAuto">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Day</mat-label>
      <input matInput formControlName="day" [matDatepicker]="picker" [min]="minDate" disabled>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Available from</mat-label>
      <input matInput formControlName="hours">
    </mat-form-field>

    <button mat-stroked-button type="submit" (click)="search()">
      <mat-icon>search</mat-icon>
      <span>   Search</span>
    </button>
  </form>

  <mat-autocomplete #sportAuto="matAutocomplete">
    <mat-option *ngFor="let sport of filteredSportsNames | async" [value]="sport">{{sport}}</mat-option>
  </mat-autocomplete>

  <mat-autocomplete #cityAuto="matAutocomplete">
    <mat-optgroup *ngFor="let group of filteredCitiesGroup | async" [label]="group.letter">
      <mat-option *ngFor="let city of group.items" [value]="city">{{city}}</mat-option>
    </mat-optgroup>
  </mat-autocomplete>
</div>




