<div>
  <form [formGroup]="searchForm" class="filter" (ngSubmit)="search()">
    <mat-form-field appearance="outline">
      <mat-label>Sport discipline</mat-label>
      <input matInput formControlName="sportName" placeholder="Placeholder" [matAutocomplete]="sportAuto">
    </mat-form-field>

    <mat-autocomplete #sportAuto="matAutocomplete">
      <mat-option *ngFor="let sport of filteredSportsNames | async" [value]="sport">{{sport}}</mat-option>
    </mat-autocomplete>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" placeholder="Placeholder" [matAutocomplete]="cityAuto">
    </mat-form-field>

    <mat-autocomplete #cityAuto="matAutocomplete">
      <mat-optgroup *ngFor="let group of filteredCitiesGroup | async" [label]="group.letter">
        <mat-option *ngFor="let city of group.items" [value]="city">{{city}}</mat-option>
      </mat-optgroup>
    </mat-autocomplete>

    <mat-form-field appearance="outline">
      <mat-label>Day</mat-label>
      <input matInput formControlName="day" placeholder="Placeholder">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Hours</mat-label>
      <input matInput formControlName="hours" placeholder="Placeholder">
    </mat-form-field>

    <button mat-stroked-button type="submit" (click)="search()">Search</button>
  </form>
</div>


