@import "../../styles.scss";

.filter {
  width: 100vw;
  margin-top: 20px;
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto auto auto;


}
 /*@media #{$xs} {

  }

  @media #{$sm} {

  }

  @media #{$md} {

  }

  @media #{$lg} {

  }

  @media #{$xl} {

  }*/
