<h2 mat-dialog-title id="title" style="width: 100%; text-align: center;">This rule has a plan reservations</h2>
<div mat-dialog-content>
  <h3>But you can delete that in few options:</h3>
  <mat-card class="option">
    <mat-card-actions>
      <button mat-stroked-button color="warn">Delete what you can</button>
    </mat-card-actions>
    <mat-card-content>
      It's create new rule where it's only a windows where somebody has reservation. So this delete all rule without dates with reservation.
      When remains reservations will finish rule will be destroyed.
    </mat-card-content>
  </mat-card>
  <mat-card class="option">
    <mat-card-actions>
      <button mat-raised-button color="warn">Delete all anyway</button>
    </mat-card-actions>
    <mat-card-content>
      Be carefull using that. This delete all rule and cancel all reservations which this rule has. You can't retrieve it in any way.
    </mat-card-content>
  </mat-card>
</div>
<div mat-dialog-actions id="cancel">
  <button mat-dialog-close mat-raised-button color="primary">Cancel</button>
</div>

