<h2 mat-dialog-title id="title" style="width: 100%; text-align: center;">This rule has a plan reservations, but you can delete that like:</h2>
<div mat-dialog-content>
  <mat-card class="option">
    <mat-card-actions>
      <button mat-stroked-button color="warn" (click)="softDelete()">Delete what you can</button>
    </mat-card-actions>
    <mat-card-content>
      This delete rule without dates with reservations. After end of reservations rule will be destroyed.
    </mat-card-content>
  </mat-card>
  <mat-card class="option">
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="hardDelete()">Delete all anyway</button>
    </mat-card-actions>
    <mat-card-content>
      Be carefull using that. This delete rule and cancel all reservations which this rule has. You can't retrieve it in any way.
    </mat-card-content>
  </mat-card>
</div>
<div mat-dialog-actions id="cancel">
  <button mat-dialog-close mat-raised-button color="primary">Cancel</button>
</div>

