<form [formGroup]="ruleForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Add rule for object: {{data.facilityName}}</h2>
  <div class="content">

    <div class="days">
      <h3>Choose days of week</h3>
      <div class="checkboxes">
        <mat-checkbox *ngFor="let day of daysFormArray.controls; let i = index" [formControlName]="day">
          {{daysNames[i]}}
        </mat-checkbox>
      </div>
    </div>

    <div class="silders">
      <h3 id="title">Start Time</h3>
      <mat-slider formControlName="startHour" class="slider" [displayWith]="formatThumb" thumbLabel tickInterval="1"
        min="0" [max]="maxStartHour" #hoursSlider></mat-slider>
      <mat-slider formControlName="startMinute" class="slider" [displayWith]="formatThumb" thumbLabel tickInterval="1"
        min="0" [max]="maxStartMinute" step="5" #minutesSlider></mat-slider>
      <h3>{{ formatThumb(hoursSlider.value) }} : {{ formatThumb(minutesSlider.value) }}</h3>
    </div>

    <div class="silders">
      <h3 id="title">Amount of possible reservations</h3>
      <mat-form-field>
        <mat-label>Choose time of one reservation</mat-label>
        <mat-select formControlName="step">
          <mat-option *ngFor="let step of steps" style="text-align: center;" [value]="step">{{step.hours}}h {{formatThumb(step.minutes)}}min</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slider formControlName="amountOfSteps" class="slider" thumbLabel tickInterval="1" [min]="1"
        [max]="maxAmountOfSteps" [step]="1" #stepsSlider>
      </mat-slider>
      <h3>{{ formatAmountOfSteps(stepsSlider.value) }}</h3>
    </div>

  </div>
  <div mat-dialog-actions class="buttons">
    <button mat-stroked-button color="primary" class="mat-elevation-z4" (click)="onCancel()">Cancel</button>
    <button mat-stroked-button color="primary" class="mat-elevation-z4" [mat-dialog-close]="'Hello'"
      [disabled]="false" type="submit">Create</button>
  </div>
</form>

