@import "../../styles.scss";

.mat-divider {
  border-top-color: #E91E63;
}

.mat-subheader {
  color: #E91E63;
}

.activeButton {
  background-color:#E91E63 ;
}

.activeLink {
  background-color:#E91E63;

  &:hover {
    background-color: #E91E63;
  }
}


.sidenav-container {
  height: 100%;

  .sidenav {
    width: 200px;

  }

  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .mat-nav-list {
    a {
      width: 100%;
      height: auto;
    }
  }

  .hidden {
    display: none;
  }

  .sidenav-content {
    .toolbar {
      display: flex;
      justify-content: space-between;

      .logo {
        display: flex;
        align-items: center;

        a {
          color: white;
          text-decoration: none;
        }
      }

      .links {

        a {
          color: white;
          margin: 0 12px;
          font-size: 70%;

          @media #{$md} {
            margin: 0 0;
          }

          @media #{$lg} {
            margin: 0 12px;
          }
        }
      }

      .buttons {
        a {
          @media #{$xs} {
            margin-right: 3px;
          }

          @media #{$sm} {
            margin-right: 10px;
          }
        }
      }

    }
  }
}
