<mat-sidenav-container class="sidenav-container">

  <!--left sidenav for phone only-->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="isHandset ? 'navigation' : 'navigation'">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <div mat-subheader>Pages</div>
      <mat-list-item *ngFor="let link of navLinks" routerLinkActive="activeLink">
        <a [routerLink]="[link.path]"> {{link.label}}</a>
      </mat-list-item>
      <br>
      <ng-container *ngIf="isAdmin">
        <mat-divider></mat-divider>
        <div mat-subheader>Admin</div>
        <mat-list-item routerLinkActive="activeLink">
          <mat-icon>fingerprint</mat-icon>
          <a [routerLink]="[adminLink.path]"> {{adminLink.label}}</a>
        </mat-list-item>
      </ng-container>
      <br>
      <ng-container *ngIf="isLoggedIn">
        <mat-divider></mat-divider>
        <div mat-subheader>Acount</div>
        <mat-list-item routerLinkActive="activeLink">
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <a [routerLink]="loggedInLinks[0].path"> {{loggedInLinks[0].label}}</a>
        </mat-list-item>
        <mat-list-item routerLinkActive="activeLink">
          <mat-icon mat-list-icon>logout</mat-icon>
          <a routerLink="loggedInLinks[1].path" (click)="signOut()"> {{loggedInLinks[1].label}}</a>
        </mat-list-item>
      </ng-container>

    </mat-nav-list>
  </mat-sidenav>

  <!--top main toolbar-->
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary" class="toolbar">
      <div class="logo">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a routerLink='/'>BookAndPlay</a>
      </div>

      <div class="links">
        <nav *ngIf="!isHandset" mat-tab-nav-bar color="accent">
          <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="[link.path]" routerLinkActive
            #rla="routerLinkActive" [active]="rla.isActive">
            {{link.label}}
          </a>
          <a mat-tab-link *ngIf="isAdmin" [routerLink]="[adminLink.path]" routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">
            {{adminLink.label}}
          </a>
        </nav>
      </div>

      <div class="buttons">
        <ng-container *ngIf="isLoggedIn; else isLoggedOut">
          <button mat-stroked-button [matMenuTriggerFor]="menu" *ngIf="!isHandset">
            <mat-icon>whatshot</mat-icon>
            <span> Hi, {{userName}}</span>
          </button>
          <mat-menu #menu="matMenu">
            <a mat-menu-item [routerLink]="[loggedInLinks[0].path]" routerLinkActive="activeButton">
              <mat-icon>account_circle</mat-icon>
              <span>{{loggedInLinks[0].label}}</span>
            </a>
            <a mat-menu-item [routerLink]="loggedInLinks[1].path" (click)="signOut()">
              <mat-icon>logout</mat-icon>
              <span>{{loggedInLinks[1].label}}</span>
            </a>
          </mat-menu>
        </ng-container>

        <ng-template #isLoggedOut>
          <a *ngFor="let link of loggedOutLinks" mat-stroked-button routerLinkActive="activeButton"
            [routerLink]="[link.path]">{{link.label}}</a>
        </ng-template>
      </div>
    </mat-toolbar>

    <!--content-->
    <ng-content></ng-content>

  </mat-sidenav-content>

</mat-sidenav-container>
