<div class="signUpCon">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <h1>Sign Up</h1>
    <br>
    <mat-form-field>
      <mat-label>Your name</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Daniel" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Your surname</mat-label>
      <input matInput type="text" formControlName="surname" placeholder="Behindcheck" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Your email</mat-label>
      <input matInput type="email" formControlName="email" placeholder="example@sth.com" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password"
        placeholder="Make your password up" required>
      <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon style="font-size: large;">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input matInput type="tel" formControlName="phoneNumber" placeholder="000-111-222">
      <mat-icon matSuffix style="font-size: large;">phone</mat-icon>
    </mat-form-field>
    <br>
    <button mat-flat-button color="primary" type="submit" [disabled]="loading || !signUpForm.valid">Sign Up</button>
  </form>
</div>
