@import "../../styles.scss";

.signUpCon {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  margin-top: 10%;

  .mat-form-field, button {
    width: 100%;
  }
}


form {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media #{$xs} {
    width: 75%;
  }

  @media #{$sm} {
    width: 60%;
  }

  @media #{$md} {
    width: 50%;
  }

  @media #{$lg} {
    width: 40%;
  }

  @media #{$xl} {
    width: 30%;
  }
}
