@import "../../styles.scss";

form {
  display: grid;
  grid-template-columns: 95%;
  justify-content: center;
  margin-top: 1%;
  grid-gap: 5%;

  #selection {
    width: 100%;
    display: flex;
    justify-content: center;

    .mat-form-field {
      width: 100%;
    }
  }

  #reservations {
    margin-bottom: 5%;
  }

  @media #{$sm} {
    grid-template-columns: 90%;
  }

  @media #{$md} {
    grid-template-columns: 80%;
  }

  @media #{$lg} {
    grid-template-columns: minmax(60%);
  }
}
