@import "../../../styles.scss";

.basicForm {
  margin-top: 1%;
  display: grid;
  justify-content: center;

  button {
    width: 100%;
  }

  .mat-form-field {
    width: 100%;
  }

  @media #{$xs} {
    grid-template-columns: 100%;
  }

  @media #{$sm} {
    grid-template-columns: 60%;
  }

  @media #{$md} {
    grid-template-columns: 45%;
  }

  @media #{$lg} {
    grid-template-columns: 35% 35%;
    justify-content: space-around;

    .discipline {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    .phoneNumber {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    .buttonCon {
      grid-column-start: 2;
      grid-column-end: 3;

      button {
        width: 50%;
        margin-left: 50%;
      }
    }
  }
}
