@import '../../../styles.scss';

.reservation {
  padding: 1% 0.5%;
  display: grid;
  grid-template-columns: 70% 20%;
  justify-content: space-evenly;

  .tableCon {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .order {
    width: 100%;
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.12);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    .singleRes {
      width: 100%;

      .mediumDate, .shortTime {
        width: 35%;
        display: block;
        float: left;
      }
    }
  }

  .actions {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  @media #{$lg} {
    .tableCon {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    .order {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .actions {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }
}

::ng-deep {
  .mat-header-cell, .mat-row-cell {
    text-align: center !important;
  }

  .mat-chip-list-wrapper {
    justify-content: center !important;
  }

  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0px !important;
  }

  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 0px !important;
  }
}
