<div class="reservation">
  <div class="tableCon">
    <table mat-table [dataSource]="rows" style="width: 100%; border: solid 1px rgba(0, 0, 0, 0.12);">
      <ng-container [matColumnDef]="column" *ngFor="let column of dayColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list *ngIf="element[column] !== ''">
            <mat-chip [color]="chosenRes.indexOf(element[column]) === -1 ? 'primary' : 'accent'"
              [selected]="element[column].status == 0 ? true : false"
              (click)="element[column].status == 0 ? addToRes(element[column]) : ''">
              {{element[column].startTime | date:'HH:mm'}} - {{element[column].endTime | date:'HH:mm'}}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="dayColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: dayColumns;"></tr>
    </table>
  </div>

  <div class="order" style="background-color: white;">
    <table style="width: 100%;" multiTemplateDataRows mat-table [dataSource]="res">
      <ng-container matColumnDef="reservation">
        <th mat-header-cell *matHeaderCellDef> Chosen Reservations </th>
        <td mat-cell *matCellDef="let element">
          <div class="singleRes">
            <span class="mediumDate">{{element.startTime | date:'MMM d, y'}}</span>
            <span class="shortTime">{{element.startTime | date:'HH:mm'}} - {{element.endTime | date:'HH:mm'}}</span>
            <button mat-icon-button aria-label="Cancel reservation from list" (click)="removeRes(element)">
              <mat-icon style="font-size: large;">cancel</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['reservation']; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: ['reservation'];"></tr>
    </table>
  </div>

  <div class="actions">
    <br>
    <button mat-raised-button color="primary" (click)="bookRes()" style="width: 100%;" [disabled]="booking">Book</button>
  </div>
</div>
