<div class="objects">
  <ng-container *ngFor="let facility of visibleFacilities">
    <mat-card class="object" (click)="toObject(facility.facilityId)">
      <mat-card-header>
        <div mat-card-avatar class="sportImage"></div>
        <mat-card-title>{{facility.name}}</mat-card-title>
        <mat-card-subtitle>{{facility.address}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image src="../../../assets/sportFacilities1.jpg" alt="Photo">
        <p>
          {{facility.description}}
        </p>
      </mat-card-content>
      <mat-card-footer>
        30zl/h
        {{facility.sport}}
      </mat-card-footer>
    </mat-card>
  </ng-container>
</div>
<mat-paginator style="width: 100%;"
  (page)="pageChanged()" class="mat-elevation-z3"></mat-paginator>
