@import '../../styles.scss';

#options {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 3%;

  @media #{$md} {
    flex-direction: row;
    justify-content: space-between;

    #filter {
      width: 71%;
    }

    #checkbox {
      width: 26%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

#tableCon {
  margin: 0% 3%;
  margin-bottom: 3%;

  border: solid 1px rgba(0, 0, 0, 0.12);
}

::ng-deep {
  .mat-cell, .mat-header-cell {
    text-align: center !important;
  }

  .mat-sort-header-container {
    justify-content: center !important;
  }
}
