<div id="mainCon">
  <div id="options">
    <mat-form-field id="filter">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="filter($event)" placeholder="Write to filter data">
    </mat-form-field>
    <mat-checkbox id="checkbox" (change)="onToggleRes($event.checked)">Old Reservations</mat-checkbox>
  </div>
  <div id="tableCon">
    <table style="width: 100%;" mat-table [dataSource]="reservations" matSort>
      <ng-container matColumnDef="reservationId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{ element.reservationId}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.startTime | date:'MMM d, y' }}</td>
      </ng-container>

      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
        <td mat-cell *matCellDef="let element"> {{element.startTime | date:'hh:mm' }} -
          {{element.endTime | date:'hh:mm' }} </td>
      </ng-container>

      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Reservation For </th>
        <td mat-cell *matCellDef="let element"> {{element.user.name + ' ' + element.user.surname}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn"
            aria-label="delete"
            [matTooltip]="element.status != 1 ? 'Remove from history' : 'Cancel this reservation'"
            matTooltipPosition="left" [disabled]="false">
            <mat-icon style="font-size: large;">cancel</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="reservationColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: reservationColumns;"
        [ngStyle]="{'background-color': row.status == 1 ? 'blue' : 'red'}"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[8, 16, 32]" showFirstLastButtons></mat-paginator>
  </div>
</div>
