@import '../../styles.scss';

.box {
  display: grid;
  justify-content: center;
  grid-template-columns: 100%;
  row-gap: 3%;
  margin-top: 3%;
  margin-bottom: 3%;

  .mat-expansion-panel {
    width: 100% !important;

    .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
      flex-basis: 0 !important;
    }
  }

  .buttonCon {
    width: 100%;

    button {
      float: right;
      height: 50%;
    }
  }

  @media #{$xs} {
    grid-template-columns: 90%;

    .mat-form-field, .buttonCon {
      width: 90%;
      text-align: center;
    }
  }

  @media #{$sm} {
    grid-template-columns: 80%;

    .mat-form-field, .buttonCon {
      width: 75%
    }
  }

  @media #{$md} {
    grid-template-columns: 65%;

    .mat-form-field, .buttonCon {
      width: 60%;
    }
  }

  @media #{$lg} {
    grid-template-columns: 40%;
  }
}

.personalData {

  .content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    @media #{$md} {
        flex-direction: row;
    }
  }
}

.accountSettings {

  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    .buttonCon {
      display: flex;
      justify-content: space-around;
    }
  }
}
