<div id="mainCon">
  <mat-form-field id="filter">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="filter($event)" placeholder="Write to filter data">
  </mat-form-field>
  <div id="tableCon" class="mat-elevation-z8">
    <table mat-table [dataSource]="facilities" matSort>
      <ng-container [matColumnDef]="column" *ngFor="let column of facilitiesColumns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="facilitiesColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: facilitiesColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[8, 16, 32]" showFirstLastButtons></mat-paginator>
  </div>
</div>
